/* ===== RESET ===== */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
}

body {
  background: linear-gradient(to bottom, #020617, #0f172a);
  color: #e5e7eb;
  line-height: 1.6;
}

/* ===== HEADER ===== */
header {
  max-width: 900px;
  margin: auto;
  text-align: center;
  padding: 90px 20px 60px;
}

header h1 {
  font-size: 2.6rem;
  font-weight: 700;
  color: #38bdf8;
  margin-bottom: 12px;
}

header h2 {
  font-size: 1.2rem;
  font-weight: 500;
  color: #94a3b8;
  margin-bottom: 20px;
}

header p {
  font-size: 0.95rem;
  color: #cbd5e1;
  margin-bottom: 16px;
}

/* ===== GRID ===== */
main {
  max-width: 1350px;
  margin: auto;
  padding: 40px;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

/* ===== CARD ===== */
.wa-preview-card {
  background: #0b1220;
  border-radius: 20px;
  padding: 20px;

  display: flex;
  gap: 16px;

  text-decoration: none;
  color: inherit;

  box-shadow: 0 20px 45px rgba(0,0,0,0.45);
  transition: all .3s ease;
  border: 1px solid rgba(56,189,248,0.05);
}

.wa-preview-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 30px 65px rgba(0,0,0,0.65);
  border: 1px solid rgba(56,189,248,0.2);
}

/* ===== IMAGE ===== */
.wa-preview-card img {
  width: 110px;
  height: 90px;
  object-fit: cover;
  border-radius: 12px;
  flex-shrink: 0;
}

/* ===== CONTENT ===== */
.wa-preview-content {
  display: flex
